article {

  display: flex;

  flex-direction: column;

  .contenu{

    display: flex;

    flex-direction: column;

    align-items: center;

    padding: 10px;

    .description-parfum{

      display: flex;

     align-items: flex-start;

      flex-direction: column;


      .titre-parfum{


        font-size: rem(24);

        font-family: $ff-heading;

      }

    }

    .fiche-auteur{

      display: flex;

      flex-direction: column;

      align-items: center;

      margin: 25px 0;

      width: 250px;

      font-weight: bold;

      border: 1px solid $color-text-normal;

      padding: 20px;


      .imgAuteur{

        width: 125px;

        height: 125px;

        border-radius: 50%;

        overflow: hidden;

        border: 3px solid $color-text-normal;

        img{

          height: 150px;

          width: 150px;

        }

      }

      .nom-auteur{

        font-size: rem(18);

      }

      .chiffre-date{

        font-size: rem(72);

        margin: 0;

      }

      .mois-annee{

        font-size: rem(12);

        margin: 0;
      }

      .categorieParfum{

        font-family: $ff-heading;
        font-style: italic;

        font-size: rem(24);
      }

    }

  }

}

@media screen and (min-width: $breakpoint-sm){

  article{

    .contenu{

      flex-direction: row;

      padding: 0;

      .fiche-auteur{

        margin-left: 25px;

      }


    }





  }




}