.connexion-modale{

  flex-direction: column;

  background-color: rgba(207, 205, 242, 0.4);

  position: fixed;
  z-index: 100;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

 display: none;

  //display: flex;

  justify-content: center;

  align-items: center;

  &.open{

    display: flex;

    .connexion{

      top: 30px;

      margin: 0 5px;
    }

  }




  .header-connexion {

    display: flex;

    flex-direction: column;

    align-items: center;

    width: 350px;

    height: 400px;

    background-color: rgba(207, 205, 242, 1);

    h2 {

      font-size: rem(30);

      font-family: $ff-heading;

      Font-style: italic;


    }

    form {

      width: 300px;

      display: flex;

      flex-direction: column;

      justify-content: flex-start;

      label {

        font-size: $fz-normal;
        margin-bottom: 5px;
        padding-left: 10px;

      }

      input[type="text"], input[type="password"] {
        border: none;
        outline: none;
        margin-bottom: 15px;
        padding-left: 10px;
      }

      input[type="text"]:focus, input[type="password"]:focus{

        background-color: $color-link-focus;
      }

      .btn-connecter {

        margin-top: 50px;

        padding: 5px 0;

        border: none;

        border-radius: 4px;

        background-color: $color-text-heading;

        &:hover{

          color: $color-link-hover;

        }

      }

    }

  }



}