footer{

  background-color: $color-bg-header;

  .contenu-footer {

    display: flex;

    flex-direction: column;

    justify-content: space-between;

    align-items: center;


    p {

      color: $color-text-heading;
    }

    .bottom-social-nav{

      width: 50%;

      display: flex;

      flex-direction: row;

      justify-content: space-between;

      align-items: center;


      i{

        font-size: rem(24);

        transition: $global-transition;

      }

    }

    i{

      font-size: rem(24);

      color: $color-text-heading;

      margin: 15px 0;



      &:hover{

        color: $color-link-hover;

        transition: $global-transition;

      }
    }
  }

}

@media screen and (min-width:$breakpoint-sm){

footer{

  .contenu-footer{

    flex-direction: row;

    p{

      flex: 1;

      padding-left: 10px;

    }

    .bottom-social-nav{

      width: 20%;

      padding-right: 50px;
    }

    i{

      padding-right: 15px;


    }
  }
}

}