//STYLE DE NOTRE HEADER

//STYLE DE NOTRE HEADER

.header-page {
  background-color: $color-bg-header;

  .zonelogo{

    display: flex;

    flex-direction: column;

    align-items: center;

    img{

      width: 70px;

      height: 70px;

    }

    .textelogo{

      color: $color-text-heading;

      font-family: $ff-heading;

      font-size: rem(30);

      font-style: italic;


    }



  }

  nav{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 10px;

    ul{

      display: flex;

      flex-direction: column;

      justify-content: space-between;

      align-items: center;

      list-style: none;

      padding: 0;

      text-align: center;

      li{

        position: relative;




      &>ul{

        display: none;

        background-color: $color-bg-header;

        width: 100%;
      }

        &:hover>ul{

          display: block;
        }

      }

      a{

        list-style: none;

        padding: 5px 10px;

        transition: $global-transition;
      }

    }
  }

}

@media screen and (min-width: $breakpoint-sm){


  .header-page {

    .zonelogo{

      display: flex;

      flex-direction: row;

      justify-items: flex-start;

    }


      nav {

        flex-direction: row;

        ul {

          flex-direction: row;

          align-items: center;

          li > ul {

            min-width: 180px;

            position: absolute;
            z-index: 50;
            top: 100%;

          }

        }
      }


  }

}










