.hero{
  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  background:url('../images/hero_600X300.jpg') center/cover no-repeat;

  width: 100%;

  min-height: 300px;

.titre-hero{

  font-family: $ff-heading;

  font-style: italic;

  color: $color-text-hero;

  font-size: rem(24);
}


}

@media (max-width: $breakpoint-sm) and (min-resolution: 192dpi){

  .hero{

    background:url('../images/hero_1200X600.jpg') center/cover no-repeat;

    min-height: 400px;

  }

}
@media screen and (min-width: $breakpoint-sm){

  .hero{

    background:url('../images/hero_800X400.jpg') center/cover no-repeat;

    min-height: 400px;

  }

}

@media (min-width: $breakpoint-sm) and (min-resolution: 192dpi){

  .hero{

    background:url('../images/hero_1600X800.jpg') center/cover no-repeat;

    min-height: 400px;

  }

}



@media screen and (min-width: $breakpoint-lg){

  .hero{

    background:url('../images/hero_1200X600.jpg') center/cover no-repeat;


  }

}

@media (min-width: $breakpoint-lg) and (min-resolution: 192dpi){

  .hero{

    background:url('../images/hero_2400X1200.jpg') center/cover no-repeat;

  }

}



//
//
//.hero{
//
//  background: url("../images/office-small@1x.jpg") center/cover no-repeat;
//
//  min-height: 400px;
//}
//
//@media (min-resolution: 192dpi){
//
//  .hero{
//
//    background-image: url("../images/office-small@2x.jpg");
//
//  }
//}
//
//@media screen and (min-width: 600px){
//
//  .hero{
//
//    background-image: url("../images/office@1x.jpg");
//
//  }
//
//  @media (min-resolution: 192dpi){
//
//    .hero{
//
//      background-image: url("../images/office@2x.jpg");
//    }
//  }
//}

