section.profil{

  width: 325px;

  //padding: 20px;


  //text-align: center;

  .avatarNick{

    display: flex;

    flex-direction: row;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 20px;




    .avatar{

      width: 175px;

      height: 175px;

      border-radius: 50%;

      overflow: hidden;

    }

  }

  .texteProfil{

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      margin-bottom: 25px;



    p{

      margin: 0;
    }


  }

  .Modifier-info{

    margin: 25px 0;

    background-color: $color-text-heading;

    padding: 10px;

    border-radius: 4px;

    &:hover{

      color: $color-link-hover;
    }

  }


}