.main{

  display: flex;

  flex-direction: column;

  flex-wrap: wrap;

  padding: 10px;

article{

  display: flex;

  flex-direction: column;

  padding: 20px;

  border: 1px solid $color-text-normal;

  flex: 0 1 100%;

  margin: 10px 0;

  &:hover{

    border: 1px solid $color-link-hover;

    transition: $global-transition;

  }

  a{

    color: inherit;

    cursor: pointer;

  }

  .date{

    padding: 10px 0;

  }

  .categorie{

    font-family: $ff-heading;

    font-size: rem(18);

    font-weight: 700;

    margin: 0;
  }

  .nomParfum{

    font-size: rem(18);

    margin-bottom: 0;
  }

  .auteurArticle{

    font-size: rem(14);

    margin-top: 0;

    margin-bottom: 10px
  }

  p{

    font-size: rem(14);

  }

  .bouton-voir-plus{

    background-color: $color-text-heading;

    border-radius: 4px;

    border: none;

    width: 50%;

    height: 30px;

    color: $color-text-normal;

    align-self: center;

    text-align: center;

    &:hover{

      color: $color-link-hover;

      background-color: $color-bgr-btn-hover;

      transition: $global-transition
    }

  }

}

}



@media screen and (min-width: $breakpoint-sm){

  .main{

    flex-direction: row;

    justify-content: space-between;

    //margin: 0;

    article{

      flex-basis: 49%;

    }
  }

}

@media screen and (min-width: $breakpoint-lg){

  .main{

    flex-direction: row;
    justify-content: space-between;


    article{
    //  margin: 0;

      flex-basis: 32%;
    }

  }

}






