.inscription{

  display: flex;

  flex-direction: column;

  align-items: center;

  padding: 0 10px;

  h2 {

    font-size: rem(30);

    font-family: $ff-heading;

    font-style: italic;


  }

  &-top{

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;



  }

&-contenu{

  display: flex;

  flex-direction: column;

}
}
