form{

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 350px;

  label {

    font-size: $fz-normal;
    margin-bottom: 5px;
    padding-left: 10px;

  }

  input[type="text"], input[type="password"], input[type="file"] {
    border: none;
    outline: none;
    margin-bottom: 15px;
    padding-left: 10px;
  }

  input[type="text"]:focus, input[type="password"]:focus{

    background-color: $color-link-focus;
  }


  textarea{

    border: none;
    outline: none;
    margin-bottom: 15px;
    padding-left: 10px;

  }

  textarea:focus{

    background-color: $color-link-focus;

  }

  .btn-envoyer{

    margin-top: 50px;

    padding: 5px 0;

    border: none;

    border-radius: 4px;

    background-color: $color-text-heading;

    margin-bottom: 50px;

    &:hover{

      color: $color-link-hover;

    }

  }
}