//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


/// Grosseur des textes
$fz-normal: rem(16);

$fz-headings-h2: rem(32);

//line-heights

$lh-normal: 1.5;

/// Font family

$ff-normal: 'Ubuntu', Helvetica, Arial, sans-serif;

$ff-heading: 'Cormorant Garamond', 'Times New Roman', serif;

/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-almostbold:600;
$fw-bold: 700;
